.contenerdo-padre{

    width: 100%;
}
.soon1{
    width: 100%;
    height:auto;
    text-align: center;
    background-color: blueviolet;
    border: solid none solid none;
    border-color: aliceblue;
    padding: 2rem ;

}


.soon2
{
 display: flex;
 flex-wrap: wrap;
 
 text-align: justify;
align-items: center;
justify-content: center;
column-width: 33%;

}

.mn-saon{
  width: 17%;
  height: auto;
  border-radius: 15px;
  border: outset;
  border-color: aliceblue;
  background-color: antiquewhite;
  justify-content: space-between;
  margin:1rem;


}
img{
   
    width: 12rem;
    height:12rem ;
    border-radius: 15px;

}
header{
display: flex;
    background-color: rgb(111, 36, 182);
    width: 100%;
    height: auto;
    align-items: center;

    
}
 

body {
    width: 100vw;  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(116, 116, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer{
    background-color: rgb(154, 164, 255);
    width: 100%;
    height: 14rem;
  }


 .header2{
  width: 20%;
  float: right;
  padding: 0rem 15rem;
 }
 
 .header1{
  text-align: center;
  width: 80%;
  padding: 0rem 4rem;
  justify-content: center;
 }
 .img_eader{

  width: 6rem;
  height:6rem ;
  border-radius: 50%;
 }

  h2{
    text-align: center;
  }


button{
  align-self:flex-end;
  border-radius: 20px;
  background-color: rgb(159, 159, 255);
  border-color: aliceblue;
  height: auto;
  
} 
input{
  border-radius: 20px;
}

select{ border-radius: 20px;
  height: 2rem;

}